.container {
    width: 500px; 
  }
  
  .div_Agente_de_recreação_e_produção_de_eventos {
    width: 300px; 
    height: 190px;
    margin: 20px auto; 
    background-color: #1FB3AC;
    border: 1rem solid #1FB3AC;
    font-family: "Cabin", sans-serif;
    border-radius: 1rem;
  }
  .div_Assistente_Administrativo {
    width: 300px; 
    height: 140px;
    background-color: #1FB3AC;
    margin: 20px auto; 
    border: 1rem solid #1FB3AC;
    font-family: "Cabin", sans-serif;
    border-radius: 1rem;
    
  }
  .div_Computação_Gráfica {
    width: 300px; 
    height: 190px;
    background-color: #1FB3AC;
    margin: 20px auto; 
    border: 1rem solid #1FB3AC;
    font-family: "Cabin", sans-serif;
    border-radius: 1rem;
  }
  .div_Instalações_Elétricas_Prediais {
    width: 300px; 
    height: 160px;
    background-color: #1FB3AC;
    margin: 20px auto;
    border: 1rem solid #1FB3AC;
    font-family: "Cabin", sans-serif;
    border-radius: 1rem;
  }
  .div_Mecânica_Especializada_em_Soldagem_e_Serralheria {
    width: 300px;
    height: 190px;
    background-color: #1FB3AC;
    margin: 20px auto; 
    border: 1rem solid #1FB3AC;
    font-family: "Cabin", sans-serif;
    border-radius: 1rem;
  }
  .div_Suporte_Técnico_em_Informática {
    width: 300px; 
    height: 190px;
    background-color: #1FB3AC;
    margin: 20px auto; 
    border: 1rem solid #1FB3AC;
    font-family: "Cabin", sans-serif;
    border-radius: 1rem;
  }
  h2 {
    font-family: "Cabin", sans-serif;
    text-align: center;
    padding: 5rem;
    font-size: 50px;
  }
  .slider .carousel-item img {
    width: 100%;
    height: 900px; /* Define uma altura fixa */
    object-fit: cover; /* Ajusta a imagem sem distorcer */
}
.cursos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 40px;
    background-color: #f8f8f8;
}

.curso-box {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.curso-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.curso-box:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.curso-box h2 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.curso-box p {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.botao-saiba-mais {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

.botao-saiba-mais:hover {
    background-color: #0056b3;
}
body{
  background-image: url(./img/bodysite.png);
}

