
:root {
    --color-1: #F4E100;
    --color-2: #E6DFD8;
    --color-3: #DE5D25;
    --color-4: #1FB3AC;
    --color-5: #1B3F91;
    --color-6: #8E3F90;
    --color-7: #DE261A;
    --color-8: #171717;
    --color-9: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    flex: 1;
    padding: 30px;
}


.apresentacao {
    font-family: "Cabin", sans-serif;
    width: 80%;
    max-width: 1000px;
    height: auto;
    padding: 24px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    display: block;
    margin: 30px auto;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.85);
    color: #333; 
}


.Atividades_Desenvolvidas {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    padding: 3rem;
    font-size: 18px;
    max-width: 900px;
    margin: 30px auto;
    background-color: #f4f4f4; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: black;
}

.Atividades_Desenvolvidas b {
    font-weight: bold;
    font-size: 20px;
    color: var(--color-5); 
}

#div_foto1 {
    width: 100vw;
    height: 400px;
    background-image: url('../assets/fotopessoas.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px 0;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.div_foto2 {
    max-width: 100%;
    margin: 20px 0;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}



@media (max-width: 768px) {
    .Atividades_Desenvolvidas {
        padding: 2rem;
        font-size: 16px;
    }

    .div_foto1, .div_foto2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .CPA_fotos {
        width: 80%;
        margin: 10px auto;
    }
}